@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  background-color: #F8FAFC; /* Snow */
  color: #1E293B; /* Slate */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}