@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  background-color: #F9FAFB;
  color: #1E293B;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
}